@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@900&display=swap');

header {

    .nav-logo {
        font-family: 'Mulish', sans-serif;
        font-size: x-large;
    }

    .nav a {
        color: black;
        font-weight: 500;
    }

    div .git-btn {
        border: 1px solid black;
        background: #000;
        color: white;
        font-weight: 500;

        .git-icon {
            font-size: 20px;
            margin: 0 5px 4px 0;
        }
    }
}

nav .navbar-brand, .offcanvas-title{
    font-family: 'Mulish', sans-serif;
    font-size: x-large;
}

nav div .git-btn {
    margin-top: 10px;
    border: 1px solid black;
    background: #000;
    color: white;
    font-weight: 500;

    .git-icon {
        font-size: 20px;
        margin: 0 5px 4px 0;
    }
}